output*
target/
profit/
logs/
web/
lib/
generated/
out/
wsdltest/
resources/
JAR_Manifests/
.idea/
quota_placed_bets/
logs/
placed_bets/
pre_placed_bets/
profit/
penny_prof/

stats.json
pom.xml
vtrader.jar
SportTrader.jar
